@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #1988f7;
    color: black;
    text-align: center;
}

.menu-bar {
    background-color: #F55B27;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 0; /* Asegura que no haya espacio debajo del menú */
}

.item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    padding: 14px 20px;
}

.item.title {
    font-weight: 600;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Cuadrícula pegada al menú */
.games-grid {
    display: grid;
    /* Ajustado a 4 columnas fijas para que queden alineados arriba */
    grid-template-columns: repeat(4, 200px); 
    gap: 10px; 
    justify-content: center;
    padding-top: 5px; /* Mínimo espacio para que no choque el borde con el menú naranja */
    padding-bottom: 20px;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: transform 0.2s;
}

.img-container {
    width: 100%;
    aspect-ratio: 1 / 1; 
    overflow: hidden;
    border: 3px solid #000;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: #fff;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.game-card span {
    font-weight: bold;
    font-size: 12px;
}

.game-card:hover {
    transform: scale(1.05);
}
