body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
    text-align: center;
}

.menu-bar {
  background-color: #F55B27;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 20px 0;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
    width: 210px;
}

.game-card img {
  width: 200px;
  height: auto;
  margin-bottom: 8px;
  border: 2px solid #000;
  border-radius: 8px;
}


.game-card:hover {
    background: grey;
    color: white;
    display: flex;
    border-radius: 8px;
}
